@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
:root {
  --main-color: rgb(65, 65, 65);
  --text-color: white;
  --text-color-hover: rgba(49, 49, 49, 0.8);
  /* --main-color: white;
  --text-color: black;
  --text-color-hover: rgba(240, 249, 255, 0.8); 
  -> rgb(132, 202, 248) gradient 
  */
}
* {
  margin: 0;
  overflow-x: hidden;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  overflow: hidden;
}
/* HEADER */
header {
  z-index: 1;
  display: flex;
  width: 100vw;
  height: 10vh;
  justify-content: space-evenly;
  background-color: var(--main-color);
}
.logo {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: var(--text-color);
}
.menu {
  width: 100%;
  display: flex;
  justify-content: start;
}
.menu nav {
  height: 100%;
  display: flex;
  align-items: center;
}
.menu-link {
  border: none;
  background: none;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px;
  color: var(--text-color);
}
.menu-link:hover {
  color: var(--text-color);
  background-color: var(--text-color-hover);
}
#contact-drop {
  cursor: default;
}
#contact-drop-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 6px 0px rgba(0, 0, 0, 0.2);
}
#contact-drop-content a {
  text-align: left;
  display: block;
}
#contact-drop:hover #contact-drop-content {
  display: block;
}
.menu i {
  margin: 0px 5px;
}

/* HEADER */

.main-content {
  background-image: linear-gradient(var(--main-color), black);
  width: 100vw;
  height: 90vh;
}
