@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
:root {
  --main-color: white;
  --main-color-gradient: linear-gradient(var(--main-color), rgb(179, 242, 253));
  --text-color: black;
  --nav-bg-hover: rgba(241, 241, 241, 0.8);
}
* {
  margin: 0;
  overflow-x: hidden;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  overflow: hidden;
}
/* HEADER */
header {
  z-index: 1;
  display: flex;
  width: 100vw;
  height: 10vh;
  justify-content: space-evenly;
  background-color: var(--main-color);
}
.logo {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: var(--text-color);
}
.menu {
  width: 100%;
  display: flex;
  justify-content: start;
}
.menu nav {
  height: 100%;
  display: flex;
  align-items: center;
}
.menu-link {
  border: none;
  background: none;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px;
  color: var(--text-color);
}
.menu-link:hover {
  color: var(--text-color);
  background-color: var(--nav-bg-hover);
}
#contact-drop {
  cursor: default;
}
#contact-drop-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 6px 0px rgba(0, 0, 0, 0.2);
}
#contact-drop-content a {
  text-align: left;
  display: block;
}
#contact-drop:hover #contact-drop-content {
  display: block;
}
.menu i {
  margin: 0px 5px;
}
#theme-switch {
  position: absolute;
  left: 90%;
  top: 10px;
}
.form-switch .form-check-input {
  background-image: url(/src/img/icons8-sun-32.svg);
  height: 20px;
  width: 40px;
}
.form-switch .form-check-input:focus {
  background-image: url(/src/img/icons8-sun-32.svg);
}
.form-switch .form-check-input:checked {
  background-image: url(/src/img/moon-solid.svg);
}
/* HEADER */

.main-content {
  background-image: var(--main-color-gradient);
  width: 100vw;
  height: 90vh;
}
